/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
  margin: -70px 20px -10px 0;
  float: right;
  text-align: right;
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-navigation li 
{
  margin: 0;
  list-style: none;
}

#block-system-navigation li a, #block-system-navigation li.activenav a
{
  margin: 0 0 1px 0px; 
  width: 150px; 
  /* Use a 14px base font size with a 18px line height */
  font-size: 14px; /* 16px x .875 = 14px */
  font-weight: normal;
  line-height: 18px; /* 14px x 1.286 = 18px */
  display: block; 
  padding: 7px 10px; 
  border-left: solid 10px #CADCA7; 
  background: #E6E6E6 url('../images/navCorner.png') top right no-repeat; 
  color: #505050;
}

#block-system-navigation li a:hover
{
  border-left: solid 10px #7F9E56; 
  background: #969696 url('../images/navCorner.png') right -36px no-repeat; 
  color: #F6FF97;
  text-decoration: none;
}

#block-system-navigation li.expanded ul.menu
{
  display: none;
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online, #block-block-2 /* "Who's online" block for a list of the online users */ {
  margin-left: 25px;
}
