.setoff
{
  background: #E6F1D0; 
  padding: 5px;
  border: dashed 1px #CCC; 
  margin: 0; 
}

.setoff p 
{
  margin: 0 0px 10px 0;
}

html.js fieldset.collapsible legend a { 
  display: block;
  font-weight: bold;
}
