/* $Id$ */

/*
 * modules/search/search.css
 */

.search-form {
  margin-bottom: 1em;
}

.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}

ol.search-results {
  padding-left: 0;
}

li.search-result {
  list-style: none;
}

.search-result p {
  margin-top: 0;
}

.search-result .title {
  font-size: 1.2em;
  margin: 0 0 0.83em;
}

.search-result .title a {
  color: #342F65;
  text-decoration: underline;
}

.search-results .search-snippet-info {
  margin: 0 0 1em 1.66em;
}

.search-results .search-info {
  font-size: 0.85em;
}

.search-advanced .criterion {
  float: left; /* LTR */
  margin-right: 2em; /* LTR */
}

.search-advanced .action {
  float: left; /* LTR */
  clear: left; /* LTR */
}
