/**
 * @file
 * Views Styling
 */

.block-views .title
{
  background: #CADCA7;
  padding-left: 5px;
}

#block-views-calendar_event-block_1 ul, #block-views-calendar_event-block_2 ul
{
  margin: 0;
  padding-left: 0;
}

#block-views-calendar_event-block_1 li, #block-views-calendar_event-block_2 li
{
  list-style: none;
  margin-bottom: 0.5em;
}

#block-views-announcements-block_1 .views-field-title a
{
  font-weight: bold;
  display: block;
  background: #E6E6E6; 
  color: #505050;
}

#block-views-announcements-block_1 .views-row
{
  border: 1px dotted;
  
}

.view-search-content a {
  text-decoration: underline;
}

.view-search-content div.view-header {
  font-size: 1.2em;
  font-weight: bold;
  color: #342F65;
}

.view-search-content div.views-row {
  margin-bottom: 2em;
}

.view-search-content div.views-field-field-model-image {
  float: right;
  margin-left: 10px;
}

.view-search-content div.search-result-status {
  margin: 0.5em 0;
  color: #342F65;
  font-weight: bold;
}

.view-search-content div.search-result-info, .view-search-content div.search-result-info a {
  color: #527037;
  font-weight: bold;
}



.view-education-books .views-field-title a
{
  font-weight: bold;
  display: block;
  background: #E6E6E6; 
  color: #505050;
}

.view-education-books .views-row
{
  border: 1px dotted;
  
}



.view-education .views-field-title a {
  font-weight: bold;
}

div.views-field-field-book-teaser-value {
  margin-bottom: 0.5em;
}

.view-profile label {
  font-weight: bold;
}

.view-profile div {
  margin-bottom: 1em;
}

.view-profile div.field-content {
  margin-left: 1em;
  margin-bottom: 0;
}

.view-profile .field-content a {
  font-weight: bold;
}

.view-profile div.filefield-file {
  display: inline;
}

.view-profile span.field-content a {
  margin-left: 0;
}

.view-profile .views-field-field-fullname-value {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 10px;
}

.view-profile div.views-field-field-profile-keywords-value div.field-item {
  display: block;
  float: left;
}

.view-profile ul {
  list-style-type: none;
  padding: 0;
}

.view-profile li.views-row {
  display: inline;
  margin: 5px 0;
}

.view-profile li span.views-field-field-profile-keywords-value span.field-content {
  margin: 0;
}

.view-profile li span.views-field-field-profile-keywords-value a {
  display: block;
  float: left;
  margin: 2px 4px 2px 0;
  padding: 4px 3px;
  text-transform: lowercase;
  background: #E6E6E6;
  color: #342F65;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
}

.view-profile li span.views-field-field-profile-keywords-value a:link {
  text-decoration: none;
  font-size: 0.83em;
}

.view-profile li span.views-field-field-profile-keywords-value a:hover {
  text-decoration: none;
  background: #666;
  color: #FFF;
}

.users-by-keyword .views-field-field-fullname-value a {
  font-size: 1.4em;
  line-height: 1.6em;
  color: #342F65;
  font-weight: bold;
}

.users-by-keyword .views-row {
  border-bottom: 1px solid #CCC;
  margin-bottom: 1em;
}

.users-by-keyword .views-field-field-profile-research-value {
  margin-bottom: 1em;
}

.users-by-keyword .views-field-field-profile-institutions-url {
  margin-bottom: 0.5em;
}

.users-by-keyword label {
  font-weight: bold;
}

.users-by-keyword div.field-content {
  margin-left: 0.5em;
}

.view-tweets td.views-field-text {
  padding: 1em 0.5em;
}
